.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head-text {
    font-family: var(--font-family);
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--text-color);
}

span {
    color: var(--yellow-color);
}

.p-text {
    font-family: var(--font-family);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    margin-top: 7px;
}

.card-top {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

.top {
    padding: 20px 0px 0px 0px;
}

@media screen and (max-width: 700px) {
    .head-text {
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
    }

    .p-text {
        font-weight: 400;
        font-size: 10px;
        margin-top: 15px;
    }

    .card-top {
        display: flex;
        flex-direction: column;
    } 
  }