.button {
    width: 127px;
    height: 33px;
    border-radius: 30px;
    background: var(--linear-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
}
