.categories__circle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.categories__circle:hover {
    border: 4px solid #DE3163;
    transition: 0.5s ease-out;
}

.catText {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FED700;
    width: 205px;
    height: 24px;
}

.catCircle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    border: 2px solid #C4C4C4;
    border-radius: 30px;
}

.catclickPink {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #DE3163;
}
